
services:
  postgres:
    image: postgres:latest
    container_name: postgres_db
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: alx_property_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: keroo123
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: redis_data
    restart: always
    ports:
      - "6379:6379"

volumes:
  postgres_data:
